<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDatenDownload" maxReceivedMessageSize="2147483647">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpsBinding_IDatenDownload">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.qualifood.de/DatenDownload/DatenDownload.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatenDownload"
                contract="Qualifood.Webservices.IDatenDownload" name="BasicHttpBinding_IDatenDownload" />
            <endpoint address="https://webservices.qualifood.de/DatenDownload/DatenDownload.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpsBinding_IDatenDownload"
                contract="Qualifood.Webservices.IDatenDownload" name="MetadataExchangeHttpsBinding_IDatenDownload" />
        </client>
    </system.serviceModel>
</configuration>